
:host {
    display: grid;
    grid-template-columns: 1fr 14fr;
  // change the second "1fr" to "auto"
    grid-column-gap: 10px;
  }


.wrapper {
    display: grid;
    grid-template-columns: 1fr 14fr;
  // change the second "1fr" to "auto"
    grid-column-gap: 10px;
    opacity: 0.3;
    filter: alpha(opacity = 0.3);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.3);
    &:hover {
        opacity: 1;
        filter: alpha(opacity = 1);
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
      }
  }

div:nth-child(1) {
    font-weight: bold;
}

img{
    width: 30px;
    margin: 1rem;
}

.des{
    margin: 1.2rem;
}

input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
  display: inline-flex;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
